<form id="login_form" action="<%= sign_in_url %>" method="POST">
  <label for="email">Email</label><input type="text" name="store[email]" value="" id="email">
  <br>
  <label for="password">Password</label><input type="password" name="store[password]" value="" id="password">
  <br>

  <label for="remember_me">Remember me</label>
  <input type="checkbox" name="remember_me" id="remember_me">
  <br>
  <input type="submit" value="Login!">
</form>