<section class="full-product group">
  <aside class="product-big-image left">
    <%= image_tag product.images.first.photo.url(:big) %>
  </aside>
  <section class="product-details right">
    <h2 class="product-title"><%= product.title %></h2>
    <h4 class="product-price"><%= number_to_currency product.price %></h4>
    <div class="button-group product-buy">
      <a class="btn cancel_btn" href="#">Add to Cart</a>
    </div>
    <p class="product-description">
      <%= product.description %>
    </p>
  </section>
</section>