<div id="cart">
  <h2>Thanks, you paid <strong><%= @order.price %></strong>!</h2>

  <article>
    <h2>Products</h2>
    <% @order.order_products.each do |order_product| %>
      <p class="product-name">
        <%= order_product.quantity %> &times; <%= order_product.product.title %>
      </p>
    <% end %>

    <h2>Shipping Address</h2>
    <%= render partial: "shared/address", locals: { model: @order.customer } %>
  </article>
</div>