/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 */
$lightBlue: #1FB4DA;
$darkBlue: #252F38;
$hoverBlue: #ADC7D0;

html, body, h1, h2, h3, h4, p, div, section,
nav, input, textarea, ul, li, a, button, img,
article, span, form, fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'ProximaNovaRegular',"Helvetica Neue",Helvetica,Arial,sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}

input {
  outline: none;
}

label {
  font-weight: bold;
}

html, body {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	height: 100%;
	margin: 50px 0 0 0;
	padding-top: 10px;
}

section.admin-content {
	margin-left: 200px;
}

ul, li {
	list-style: none;
}

.group:after {
	content: "";
	clear: both;
	display: table;
}

.left {
	float: left;
}

.right {
	float: right;
}

header.admin {
  z-index: 1;
	position: fixed;
	top: 0;
	height: 50px;
	background-color: $darkBlue;
	color: white;
	width: 100%;
	vertical-align: middle;
}

header.admin > h2 {
	display: inline-block;
	vertical-align: bottom;
	padding: 10px 0 0 20px;
}

header.admin > ul {
  height: 100%;
	padding: 15px 75px 0 0;
	float: right;
}

header.admin > ul > li {
  display: block;
	float: left;
  height: 100%;
  width: 100%;
  &:hover {
    color: $hoverBlue;
  }
}

li.has-dropdown {
	position: relative;
}

ul.nav-dropdown {
	position: absolute;
	display: none;
  background: $darkBlue;
  border: 1px solid $hoverBlue;
  padding:5px;
	width: 100px;
  a {
    color: white;
    display: block;
    &:hover {
      color: $hoverBlue;
    }
  }
}

li.has-dropdown:hover ul.nav-dropdown {
	display: block;
}

nav.admin {
	position: fixed;
	top: 1;
  z-index: 1;
  margin-top: -10px;
	width: 170px;
	height: 100%;
	background: $darkBlue;
  border-top: 1px solid $hoverBlue;
  color: white;
  h2 {
    padding: 10px 0 0 20px;
  }
  a {
    display: block;
    padding: 7px 5px 6px 20px;
    color: inherit;
    text-align: center;
    &:hover {
      background: $lightBlue;
    }
  }
}

input, textarea {
  &:focus {
    border: 1px solid #4C90EE;
  }
  &#filter {
    width: 80%;
    margin: 20px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #ccc;
  }
}

label {
  width: 100px;
  display: inline-block;
}

.button-group input,
.button-group a {
	margin-top: 10px;
  font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	background-color: #4479BA;
	color: white;
  &.cancel_btn {
    background-color: #e74c3c;
    color: #FFF;
  }
}

#logo {
  margin: auto;
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 30px 0;
}

nav.store-top-nav > ul {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: auto;
  width: 1000px;
  a, a:visited {
    color: inherit;
  }
  a:hover {
    color: #4479BA;
  }
  > li {
    float: left;
    width: 200px;
    padding: 2%;
    text-align: center;
    font-size: 16px;
  }
}

nav .has-dropdown {
  &:hover > ul {
    display: block;
  }
  position: relative;
}
nav .has-dropdown:hover > ul {
  display: block;
}

nav .is-dropdown {
  display: none;
  position: absolute;
  width: 200px;
  background: #f1f1f1;
  border: 2px solid #ffffff;
  > a {
    padding: 3px;
    border-top: 2px solid #ffffff;
    display: block;
    &:hover {
      background: #ccc;
    }
    color: black;
  }
  > a:first-child {
    border: 0;
  }
}

.store-content {
  margin: 0 50px;
}

.product {
  padding: 10px 10px;
  width: 20%;
  height: 250px;
  &:hover {
    opacity: 0.7;
  }
}

.products {
  > a {
    color: inherit;
  }
  article {
    padding-left: 4%;
  }
  margin: auto;
  width: 100%;
}

.full-product {
  margin: auto;
  width: 80%;
  padding: 5%;
  .product-big-image, .product-details {
    width: 50%;
  }
}

.product-buy {
  padding: 20px 0;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.product-details {
  .product-price {
    opacity: 0.7;
    font-size: 21px;
    font-style: italic;
  }
}

.old-price {
  text-decoration: line-through;
  opacity: 0.4;
}

.featured-product {
  width: 80%;
  margin: auto;
  border-bottom: 2px solid #ccc;
}

.front-page > section > h2,
.category-title {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}

tr.summary {
  border-top: 1px solid #ccc;
}

div#cart {
  margin: 40px auto;
  width: 50%;
}

.btn:hover {
  color: #CCC !important;
}

.alert {
  border: 4px solid white;
  width: 40%;
  margin: auto;
  &.notice {
    background-color: #2ecc71;
  }
  &.error {
    background-color: #e74c3c;
  }
  &.no-center {
    width: 40%;
    margin: 0;
  }
  border-radius: 15px;
  text-align: center;
}

ul.autocomplete {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  margin: 0;
  padding: 3px 0;
}

ul.autocomplete li {
  list-style: none;
  margin: 0;
  padding: 5px 7px;
}

ul.autocomplete li.active, ul.autocomplete li:hover {
  cursor: pointer;
  background-color: #d3d3d3;
}

ul.autocomplete li a {
  color: #3d3d3d;
  text-decoration: none;
}

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  a, span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: darken(#f1f1f1, 20);
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border-radius: 1em;
    text-shadow: rgba(white, .8) 1px 1px 1px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.under-info {
  margin-top: 20px;
}

.info {
  margin: 10px 0;
}

footer {
  color: #bdc3c7;
  padding: 20px;
  width: 1000px;
  margin: auto;
  border-top: 1px solid #ccc;
  a {
    color: #bdc3c7;
    &:hover {
      color: #7f8c8d;
    }
  }
  text-align: center;
}

.form-group {
  padding: 20px;
  input[type=text], input[type=password], input[type=email],
  input[type=number], input[type=file], textarea {
    display: block;
    border: 2px solid #ccc;
    padding: 5px;
    width: 286px;
    border-radius: 5px;
  	margin-top: 10px;
    font-size: 14px;
    &:focus {
      border-color: $hoverBlue;
    }
  }
}

.product-title {
  font-size: 20px;
}

#landing-page {
  background: $lightBlue;
  height: 100%;
  text-align: center;
  h1 {
    margin-top: 10%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 4.5em;
  }
  #alerts .alert.error {
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 30px auto;
    text-align: center;
    width: 40%;
    padding: 10px;
    background: $darkBlue;
  }
}

#landing-page-inner {
  width: 100%;
  margin: 0% auto;
  input[type=text], input[type=password] {
    text-align: center;
    border: 3px solid #8FDAED;
    border-radius: 50px;
    box-shadow: none;
    font-size: 1.7em;
    margin: 5px 20px 35px 10px;
    padding: 15px 32px;
  }
  input[type=submit], a {
    background: none repeat scroll 0 0 $lightBlue;
    border: 3px solid #8FDAED;
    border-radius: 50px;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 1.7em;
    margin: 5px 20px 35px 10px;
    padding: 15px 32px;
    text-shadow: none;
    &:hover {
      background: none repeat scroll 0 0 $darkBlue;
      cursor: pointer;
    }
  }
  .slogan {
    display: block;
    color: #FFFFFF;
    font-size: 3.5em;
    font-style: italic;
    font-weight: 200;
    line-height: 1.22em;
    margin: 50px 0 20px 10px;
  }
}

footer#landing-footer {
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
  background-color: $darkBlue;
  .hire-me {
    padding-right: 10%;
  }
  .copyright {
    padding-left: 5%;
  }
}

#modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

#modal.is-active {
  display: block;
}

#modal:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#modal > article {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  margin-bottom: 100px;
  margin-left: -250px;
  min-height: 200px;
  padding: 50px;
  background: $darkBlue;
  border-radius: 5px;
  form input {
    text-align: center;
    border: 3px solid #8FDAED;
    border-radius: 50px;
    box-shadow: none;
    font-size: 1.7em;
    margin: 5px 20px 35px 10px;
    padding: 15px 32px;
    &[type=submit] {
      width: 364px;
      background: $lightBlue;
      color: white;
      &:hover {
        border-color: $lightBlue;
        background: $darkBlue;
      }
      cursor: pointer;
    }
  }
}

#modal .hide-modal {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}

#modal .hide-modal:hover {
  color: black;
}