<section class="featured-product">
  <h2>Featured Product</h2>
  <%= render "store/products/big_product", product: @featured_product %>
</section>
<section class="products latest-products">
  <% @latest_products.each do |product| %>
    <%= link_to (render "store/products/small_product", product: product).html_safe, product %>
  <% end %>
</section>