<h1>Category</h1>
<div id="category">
  <%= JST['categories/_category']({ category: category }) %>
</div>
<div class="button-group under-info">
  <a class="cancel_btn" href="#categories">&larr; Back</a>
</div>