<h2>Your store</h2>
<ul>
	<a href="#"><li>Dashboard</li></a>
	<a href="#orders"><li>Orders</li></a>
	<a href="#customers"><li>Customers</li></a>
	<a href="#products"><li>Products</li></a>
	<a href="#categories"><li>Categories</li></a>
  <a href="#settings/general"><li>Settings</li></a>
</ul>