<h2><a href="../" class="store-link">Your store</a></h2>
<ul>
	<li><a href="#">Dashboard</a></li>
	<li><a href="#orders">Orders</a></li>
	<li><a href="#customers">Customers</a></li>
	<li><a href="#products">Products</a></li>
	<li><a href="#categories">Categories</a></li>
  <li><a href="#settings/general">Settings</a></li>
</ul>